@charset "utf-8";
/*----------------------------------------
 INDEX
----------------------------------------
01 Layout and Base Design
02 Header
03 Breadcrumb
04 Footer
05 Left Menu
06 Contents 共通
07 著作権注意喚起
08 エラーページ
----------------------------------------*/


/*----------------------------------------
 01 Layout and Base Design
----------------------------------------*/
/* Layout */
#bodySection {
	position: relative;
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
}

#leftArea {
	float: left;
	width: 250px;
}

#rightArea {
	width: 710px;
	float: left;
	text-align: left;
	padding-bottom: 30px;
}

.right_inner {
	padding: 0 20px 30px;
}

.fixed{
	position: fixed;
	width: 960px;
	top: 0px;
	z-index: 9999;
}


/*----------------------------------------
 02 Header
----------------------------------------*/
#naviSection {
	height: 85px;
	background: #ffffff;
	border-bottom: solid 1px #cccccc;
}

#headSection {
	position: relative;
	width: 100%;
	height: 85px;
}

#headSection #gnaviSetArea {
	height: 90px;
}

#headSection #toplogo {
	width: 11%;
	float: left;
	padding: 14px 0px 7px;
	margin: 0;
}

#headSection #toplogo img {
	margin: 0 10px;
}

#headSection #toplogo .sp { display: none;}


#headSection #globalNav {
	width: 82%;
	float: right;
	margin: 0;
}

#headSection #globalNav ul {
	margin-bottom: 0;
}

#headSection #globalNav li {
	float: left;
	padding: 18px 0 20px;
	list-style-type: none;
	line-height: 140%;
	border-top: solid 12px #ffffff;
}

#headSection #globalNav li a {
	display: block;
	padding: 8px 16px;
	margin-left: -1px;
	font-weight: bold;
	border-left: solid 1px #565656;
	border-right: solid 1px #565656;
	text-decoration: none;
	color: #555555;
}

#headSection #globalNav li:hover {
	border-top: solid 12px #dddddd;
}

#headSection #globalNav li.current {
	border-top: solid 12px #c7c7c7;
}

#headSection #globalNav li.current a {
	color: #111111;
}


/*----------------------------------------
 03 Breadcrumb
----------------------------------------*/
#breadcrumb {
	height: 1.5em;
	margin: 0 20px 15px;
	padding-top: 5px;
}

#breadcrumb ul {
	margin: 0;
}

#breadcrumb ul li {
	float: left;
	margin: 0 7px 0 0;
	font-size: 12px;
	list-style-type: none;
}
#breadcrumb ul li.list_end {
	background: none;
}
#breadcrumb ul li a {
	color: #005B99;
	text-decoration: none;
}
#breadcrumb ul li a:hover {
	text-decoration: underline;
}


/*----------------------------------------
 04 Footer
----------------------------------------*/
#footSection {
	width: 100%;
	padding: 20px 0 0;
	background: #f0f0f0;
}

#footSection .footer_inner {
	margin: 0 20px;
	padding: 0 0 20px;
}

#footSection .foot_linkbox {
	width: 25%;
	float: left;
}

#footSection .foot_linkbox h3 {
	margin-bottom: 8px;
}

#footSection .foot_linkbox ul {
	list-style-type: none;
	margin: -5px 0 20px;
}

#footSection .foot_linkbox ul li {
	font-size: 12px;
}

#footSection .foot_linkbox ul.link_herf li {
	width: 50%;
	float: left;
}

#footSection .foot_linkbox p {
	margin: -5px 0 5px;
}

#footSection .foot_linkbox img {
	margin-left: 5px;
}

#footSection a {
	color: #444444;
	text-decoration: none;
}

#footSection a:hover {
	text-decoration: underline;
}

.footendlink {
	background: #ffffff;
	padding: 12px 20px;
}

.footendlink address {
	display: block;
	float: left;
	width: 45%;
	padding-top: 4px;
	margin-right: 10px;
	font-style: normal;
	font-size: 12px;
}

.footendlink p {
	float: left;
	width: 30%;
	margin: 0;
}

.footendlink p span {
	display: block;
	width: 46%;
	font-size: 10px;
	float: left;
	line-height: 140%;
	text-align: center;
}

.footendlink p img {
	display: block;
	float: left;
	margin-top: 4px;
}

.footendlink ul {
	width: 55px;
	margin: 0;
	float: right;
	list-style-type: none
}

.footendlink ul li {
	display: inline-block;
}

#footer_copyright {
    clear: both;
    text-align: center;
}

#footer_olylogo {
	float: left;
	width: 60%;
	margin: 20px 0 20px 0;
}

#footer_olylogo img {
	margin: 0 10px
}

#footer_olylogo span {
    vertical-align: 15px;
    font-size: 0.8rem;
}

#footer_olylogo a {
    text-decoration: none !important;
}

#footer_copyright_oly {
	margin: 0;
	padding: 31px 0 0;
	text-align: right;
	color: #444444;
	font-size: 0.8rem;
}

#footer_copyarea {
	width: 930px;
	margin: 0 auto;
	display: block;
	border-top: solid 1px #cccccc;
}

/* 1カラムポップアップ用フッター
--------------------------------- */
.footer_1column {
	padding: 10px 0 20px;
	border-top: solid 1px #cccccc;
}

.footer_1column address {
	font-style: normal;
	font-size: 12px;
	text-align: center;
}


/* ループバナー
--------------------------------- */
#carouselBanner {
	margin: 0 0 20px;
	clear: both;
	width: 960px;
	text-align: left;
	position: relative;
}

#carousel_wrap {
	width: 898px !important;
	margin-left: 28px;
}

#carousel_prev,
#carousel_next {
	top: 0;
	width: 20px;
	height: 65px;
	background: #000;
	cursor: pointer;
	position: absolute;
}
#carousel_prev {
	left: 0;
	background:transparent url(../image/toppage/recommend_prev.gif) no-repeat top left;
}
#carousel_next {
	right: 0;
	background:transparent url(../image/toppage/recommend_next.gif) no-repeat top left;
}

#carouselBanner ul li {
	width: 180px;
	float: left;
	display: inline;
	text-align: center;
}


/* ClearFixElements */
#carouselBanner ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carouselBanner ul {
	display: inline-block;
	overflow: hidden;
}


/*----------------------------------------
 05 Left Menu
----------------------------------------*/
#leftArea {
	width: 210px;
	float: left;
	margin: 0 20px 40px 0;
}

#leftArea h2 {
	padding: 4px 0;
	margin: 0;
	text-align: center;
	color: #ffffff;
	background: #405878;
}

#leftArea ul {
	list-style-type: none;
	width: 100%;
}

#leftArea ul li {
	border: solid 1px #cccccc;
	border-top: 0;
}

#leftArea ul li a,
#leftArea ul li span {
	display: block;
	padding: 10px 8px 15px 15px;
	line-height: 140%;
	color: #444444;
	text-decoration: none;
	border-left: solid 12px #ffffff;
	cursor: pointer;
}

#leftArea ul li a:hover,
#leftArea ul li span:hover {
	border-left: solid 12px #dddddd;
}

#leftArea ul li.current a,
#leftArea ul li.current span {
	border-left: solid 12px #c7c7c7;
}

#leftArea ul ul.inlink {
	list-style-type: none;
	width: 100%;
	margin: 0;
	background: #ffffff;
	border-top: solid 1px #cccccc;
}

#leftArea ul ul.inlink li {
	border: none;
	border-bottom: dashed 1px #cccccc;
}

#leftArea ul li.current ul.inlink li a {
	display: block;
	padding: 10px 5px 10px 15px;
	line-height: 140%;
	color: #444444;
	text-decoration: none;
	font-weight: normal;
	border-left: solid 12px #ffffff;
}

#leftArea ul li.current ul.inlink li a:hover {
	border-left: solid 12px #dddddd;
}

#leftArea ul li img {
	margin-left: 3px;
}

#leftArea ul ul.inlink li.nolink {
	display: block;
	padding: 10px 15px 10px 30px;
	line-height: 140%;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}

#leftArea ul li ul.inlink li.list_end {
	border-bottom: none;
}

#leftArea ul li ul.inlink li.current a {
	background: #ffffff;
	border-left: solid 12px #cccccc;
}



/*----------------------------------------
 06 Contents 共通 コンテンツエリア
----------------------------------------*/
/* 全ページ共通レイアウト
--------------------------------- */
/* 2カラム */
#mainSection {
	width: 100%;
	padding-bottom: 20px;
}

.rightArea {
	width: 730px;
	float: right;
	padding-bottom: 30px;
}

.maintitle {
	width: 100%;
	padding-bottom: 20px;
}

#rightArea a {
	text-decoration: underline;
}
#rightArea a:hover {
	text-decoration: none;
}


/* 1カラム */
.fullcolumContents {
	margin: 0 20px;
}

.fullcolumContents p {
	margin: 0 0 15px;
}


.mt15 {
	margin-top: 15px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb30 {
	margin-bottom: 30px;
}

.ml15 {
	margin-left: 15px;
}

.ml30 {
	margin-left: 30px;
}

/* 新規パターン　コンテンツエリア
--------------------------------- */
.right_contents {
	padding: 0 20px 0 0;
}

.right_contents a {
	text-decoration: underline;
}

.right_contents a:hover {
	text-decoration: none;
}


/* 旧パターン W655px領域確保と左右位置
--------------------------------- */
.right_655 {
	width: 655px;
	margin: 0 auto;
}


/* h1周辺 共通
--------------------------------- */
.maintitle .titleicon {
	width: 53px;
	float: left;
}

.maintitle .textbox {
	width: 657px;
	float: left;
}

.fullcolumContents .maintitle .textbox {
	width: 705px;
	float: left;
}

.maintitle .textbox h1 {
	font-size: 20px;
	padding: 0 20px 5px;
	margin: 0 0 5px;
	color: #405878;
}

.maintitle .textbox p.titlelead {
	padding: 0 20px;
}

.title_news { border-bottom: solid 2px #c7c7c7;}
.title_gallery { border-bottom: solid 2px #c7c7c7;}
.title_report { border-bottom: solid 2px #c7c7c7;}
.title_event { border-bottom: solid 2px #c7c7c7;}
.title_adivice { border-bottom: solid 2px #c7c7c7;}
.title_archives { border-bottom: solid 2px #c7c7c7;}
.title_download { border-bottom: solid 2px #c7c7c7;}
.title_special { border-bottom: solid 2px #c7c7c7;}
.title_photolife { border-bottom: solid 2px #c7c7c7;}


/* 見出しアイコンなし h1
--------------------------------- */
.maintitle .textbox_iconnone {
	float: none;
	width: 710px;
}

.maintitle .textbox_iconnone h1.title {
	width: 100%;
	font-size: 20px;
	margin: 0 0 5px;
	padding: 0 0 5px;
	color: #405878;
	border-bottom: solid 2px #c7c7c7;
}


/* h2 共通
--------------------------------- */
.h2_title_std {
	padding: 0 0 5px;
	margin-bottom: 20px;
	border-bottom: solid 1px #c7c7c7;
	font-size: 18px;
}


/* h3 共通
--------------------------------- */
.h3_title_std {
	font-size: 14px;
	margin: 0 0 10px;
}

.h3_title_line {
	padding: 0 0 5px;
	margin-bottom: 20px;
	font-size: 14px;
	border-bottom: solid 1px #cccccc;
}


/* 1カラム用タイトル
--------------------------------- */
.fullcolumContents .title {
	font-size: 20px;
	padding: 20px 0 5px;
	margin: 0 0 20px;
	color: #405878;
	border-bottom: solid 2px #c7c7c7;
}

fullcolumContents .title {
	display: block;
	float: right;
	margin-top: -30px;
}

/* プレーンテキスト
--------------------------------- */
.rightArea p,
.rightArea ul,
.rightArea ol {
	margin: 0 0 15px;
}

p.text {
	color: #444444;
	line-height: 160%;
}
p.descript {
	color: #444444;
	margin: 0px 0px 0px 10px;
	font-size: 88%;
}
p.descript_ac {
	color: #444444;
	font-size: 88%;
	text-align: center;
}
p.notice {
	color: #444444;
	margin: 0px;
	font-size: 88%;
}


/* ポップアップ closeボタン
--------------------------------- */
.btn-close {
	text-align: center;
	padding: 20px 0;
}

/* テキストボックス内の画像位置
--------------------------------- */
#mainSection .f_right_img {
	float: right;
	margin: 0 0 20px 20px;
}

#mainSection .f_left_img {
	float: left;
	margin: 0 20px 20px 0;
}


/* テーブル
--------------------------------- */
.tbl_nomal {
	margin: 0 0 20px;
	border-collapse: collapse;
	border-top: dashed 1px #d8d8d8;
}
.tbl_nomal th {
	width: 130px;
	text-align: left;
	vertical-align: top;
}
.tbl_nomal th,
.tbl_nomal td {
	font-size: 14px;
	padding: 10px 12px;
	border-bottom: dashed 1px #d8d8d8;
}
.tbl_nomal tr.bg_col_g {
	background: #f3f3f3;
}

/* 画像キャプション */
.caption {
	display: block;
	padding: 5px 0;
	font-size: 12px;
}


/* discリスト
--------------------------------- */
.list_disc {
	margin: 0 0 20px 20px;
}



/* 横遷移　関連リンク */
.otherlink_area {
	margin: 20px 0 30px;
	padding: 20px 20px 0;
	list-style-type: disc;
	border-top: dashed 1px #cccccc;
}

.otherlink_area li {
	margin-bottom: 5px;
	font-weight: bold;
}

.otherlink_area .list_inline {
	margin-top: 5px;
	list-style-type: none;
}

.otherlink_area .list_inline li {
	display: inline;
	margin: 0 10px 20px 0;
	padding: 3px 13px 3px 0;
	border-right: solid 1px #cccccc;
	font-weight: normal;
}

.otherlink_area .list_inline li.list_end {
	border: none;
}




/* ページトップスクロール
--------------------------------- */
#back-top {
	width: 960px;
	margin: 0 auto;
}

#back-top p {
	padding: 0 0 20px;
	text-align: right;
}
#back-top a {
	text-decoration: none;
	color: #444444;
	background:#ffffff;

}
#back-top a:hover {
	color: #777777 !important;
	text-decoration: none !important;
}


/* 汎用
--------------------------------- */
.f_left { float: left !important;}
.f_right { float: right !important;}


/* LIST
--------------------------------- */
.list_disc {
	margin: 0 0 20px 30px;
}

.btn-gallery {
	clear: both;
	width: 168px;
	height: 38px;
	margin: 20px auto;
}

.mark_win {
	margin: 0 5px 0 3px;
	vertical-align: 1px;
}


/* 1カラム　ご利用条件ほか
----------------------------------------*/
.select_browser {
	margin: 0 0 10px;
}

.select_browser dt {
	margin: 0 0 5px;
}

.select_browser dd {
	margin: 0 0 5px;
	padding-left: 20px;
}

.tbl_adobe {
	margin: 0 0 40px;
	border-collapse: collapse;
}

.tbl_adobe th,
.tbl_adobe td {
	padding: 5px 20px;
	text-align: left;
}

.list_discnone {
	list-style-type: none;
}

/* コンテンツトップ index 左右レイアウト
----------------------------------------*/
.material_left {
	width: 338px;
	float: left;
	padding-bottom: 20px;
}

.material_right {
	width: 338px;
	float: right;
	padding-bottom: 20px;
}

.material_left p,
.material_right p {
	margin-bottom: 8px;
}

.material_left ul,
.material_right ul {
	list-style-type: disc;
	margin: 0 0 10px 20px;
}

.material_left ul.icon_new,
.material_right ul.icon_new {
	float: left;
}

.material_left p.icon_new,
.material_right p.icon_new {
	width: 55px;
	float: left;
	margin-top: 2px;
}


/*----------------------------------------
 07 著作権注意喚起
----------------------------------------*/
.btn_approval2set {
	list-style-type: none;
	width: 520px;
	margin: 0 auto 60px;
}

.btn_approval2set li {
	width: 250px;
	float: left;
}

.btn_approval2set li a {
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #405878;
	text-decoration: none;

	/* 角丸 */
	border-radius: 6px;        /* CSS3草案 */
	-webkit-border-radius: 6px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 6px;   /* Firefox用 */
}

.btn_approval2set li a:hover {
	background: #18335e;
}


/*----------------------------------------
 08 エラーページ
----------------------------------------*/
#bodySection #window_error {
	width: 550px;
	margin: 40px auto;
	padding-bottom: 20px;
	background: #e2eeff;

	/* 角丸 */
	border-radius: 10px;        /* CSS3草案 */
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 10px;   /* Firefox用 */
}

#bodySection #window_error h1 {
	border: none;
	padding: 30px 30px 0;
}

#bodySection #window_error h2 {
	margin: 0 30px 20px;
	font-size: 20px;
}

#bodySection #window_error p {
	margin: 0 30px 20px;
}

#bodySection #window_error ul {
	margin: 0 40px 20px;
	list-style-type: disc;
}
